:root {
    --ai-blue-500: #132DE8;
    --ai-blue-800: #020F6F;
    --ai-blue-900: #010731;
    --Neutral-100: #F7F7F9;
    --Neutral-200: #D9DAE1;
    --Neutral-300: #999AA4;
    --Neutral-500: #353746;
    --Neutral-600: #272B42;
    --Neutral-700: #111528;
    --Neutral-800: #060918;
    --Neutral-900: #00020D;

    --wrapper-width: 1440px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

*[class*="__container"] {
    padding: 60px 0;
    position: relative;
}

*[class*="__wrapper"] {
    max-width: var(--wrapper-width);
    margin-inline: auto;
    padding-inline: 2rem;
}

*[class*="--gradient"] {
    background: radial-gradient(at 50% 75%, var(--ai-blue-800) 0%, var(--Neutral-900) 35%);
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--Neutral-900);

    /* user-select!!!!!!!!!!!!! */
    user-select: none;
}

h1,
h2,
h3,
h4,
h5,
button {
    font-family: "Graphik Trial";
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    text-transform: uppercase;
    color: var(--Neutral-100);
}

button {
    padding: 12px 20px;
    border-radius: 40px;
    background: var(--ai-blue-500);
    cursor: pointer;
    transition: all .2s;
}

button:hover {
    background: var(--Neutral-100);
    color: var(--ai-blue-500);
}

h2 {
    font-size: 48px;
    line-height: 56px;
}

h3 {
    font-size: 40px;
    line-height: 48px;
}

h4 {
    font-size: 32px;
    line-height: 40px;
}

h5 {
    font-size: 24px;
    line-height: 32px;
}

button {
    font-size: 18px;
    line-height: 26px;
}

p,
span,
ul,
ol,
li,
a {
    font-family: "Graphik Trial";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    list-style: none;
    color: var(--Neutral-300);
}

input,
textarea {
    width: 100%;
    padding: 14px 16px;
    background-color: var(--Neutral-600);
    color: var(--Neutral-100);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.textarea {
    min-height: 153px;
    height: 100%;
}

input::placeholder,
textarea::placeholder {
    color: var(--Neutral-300);
    font-family: "Graphik Trial";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.slide-bottom--hidden {
    transform: translateY(100%);
    opacity: 0;
    transition: transform .2s ease, opacity .2s ease;
}

.slide-bottom--visible {
    transform: translateY(0);
    opacity: 1;
}

@media(max-width: 768px) {
    *[class*="__wrapper"] {
        padding-inline: 1rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    button {
        font-size: 52px;
        line-height: 64px;
    }

    h2 {
        font-size: 46px;
        line-height: 52px;
    }

    h3 {
        font-size: 36px;
        line-height: 44px;
    }

    h4 {
        font-size: 32px;
        line-height: 36px;
    }

    h5 {
        font-size: 22px;
        line-height: 328px;
    }

    button {
        font-size: 16px;
        line-height: 20px;
    }

    p,
    span,
    ul,
    ol,
    li,
    a {
        font-size: 16px;
        line-height: 20px;
    }
}

@media (max-width:425px) {

    h1,
    h2,
    h3,
    h4,
    h5,
    button {
        font-size: 32px;
        line-height: 36px;
    }

    h2 {
        font-size: 28px;
        line-height: 34px;
    }

    h3 {
        font-size: 24px;
        line-height: 30px;
    }

    h4 {
        font-size: 20px;
        line-height: 26px;
    }

    h5 {
        font-size: 16px;
        line-height: 26px;
    }

    button {
        font-size: 16px;
        line-height: 20px;
    }

    .swiper-pagination-bullet {
        display: none !important;
    }

}