.registration {}

.registration__container {}

.registration__container--gradient {
    background: radial-gradient(at bottom center, var(--ai-blue-900) 0%, var(--Neutral-800) 35%);
}

.registration__wrapper {}

.registration__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}


.registration__body {
    max-width: 600px;
    justify-self: start;
}

.registration__title {
    font-size: 64px;
    font-weight: 700;
    line-height: 72px;
}

.registration__text {
    margin-top: 13px;
}

.registration__form-container {
    max-width: 522px;
    justify-self: end;
    width: 100%;
}

.registration__form {
    display: flex;
    flex-direction: column;
    gap: 13px;
    width: 100%;
    align-items: flex-start;
}

.registration__form--hidden {
    display: none;
}

.registration__form-title {}


.registration__form-name {}

.registration__form-email {}

.registration__form-text {}

.registration__form-button {}

.registration__form-button:disabled {
    background-color: lightgray;
    cursor: auto;
    color: #fff;
}

.registration__form-button:disabled:hover {
    background-color: lightgray;
    color: #fff;
}

.registration__form-response {
    display: none;
}

.registration__form-response-title {
    border-bottom: 2px solid greenyellow;
}

.registration__form-response--visible {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
}

.--button-active {}

@media (max-width: 900px) {
    .registration__content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 60px;
    }

    .registration__body {
        max-width: 600px;
        justify-self: center;
    }

    .registration__form-container {
        max-width: 600px;
        justify-self: center;
        width: 100%;
    }
}

@media (max-width: 550px) {
    .registration__title {
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
    }
}